table{
	border: 1px solid #8c8c8c;
	border-collapse: collapse;
	padding: 5px;	
}

th{
	border: 1px solid #8c8c8c;
	padding: 5px;
	background: #BAEDED;
}

td{
	border: 1px solid #8c8c8c;
	padding: 5px;
}